/* Page qui sommes nous */

.img-q {
    background-image: url("img/QuisommesNous.jpg");
    height: 300px;
    background-size: auto;
    background-repeat: no-repeat;
    background-position-x: center;
    margin-bottom: 25px;
}

.quisomme {
    text-align: center;
    margin-top: 15px;
    font-weight: 600;
    font-size: 32px;
}
.rectangle {
    width: 12px;
    height: 60px;
    background: #000;
    float: left;
    margin-right: 15px;
}
.trait {
    border-bottom: 1px solid #666;
    clear: both;
}
.lisret2 {
    margin-top: 50px;
}

.deco-lpc {
    font-weight: 600;
}
.rectangle2 {
    width: 12px;
    height: 60px;
    background: #000;
    float: right;
    margin-top: 10px;
    margin-left: 12px;
}
#qsm p {
    text-align: center;
}

.blocmap {
    height: auto;
    width: 85%;
    margin: auto;
}
.img-q2 {
    background-image: url("img/map.webp");
    height: 500px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    margin-bottom: 25px;
}
#qsm2 p {
    text-align: center;
    color: grey;
}

.img-q3 {
    background-image: url("img/rencontre1.jpg");
    height: 321px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 25px;
}
.img-q4 {
    background-image: url("img/cizo.jpg");
    height: 321px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 25px;
}
.img-q5 {
    background-image: url("img/mesure.jpg");
    height: 321px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 25px;
}

.img-q6 {
    background-image: url("img/shooting.jpg");
    height: 321px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 25px;
}

.img-q7 {
    background-image: url("img/usine.jpg");
    height: 321px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 25px;
}
.img-q8 {
    background-image: url("img/operatrice1.jpg");
    height: 321px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 25px;
}

@media screen and (min-width: 200px) and (max-width: 990px) {
    .img-q3 {
        background-image: url("img/palnDeTravail65.PNG");
        height: 260px;

        background-size: auto;
        background-repeat: no-repeat;
        margin-bottom: 25px;
    }
    .img-q2 {
        background-image: url("img/map.webp");
        height: 260px;
        background-size: contain;
        background-repeat: no-repeat;
        margin-bottom: 25px;
    }
}

.decoArt {
    display: flex;
}

.decoArt2 {
    display: flex;
    flex-direction: row-reverse;
}

.myDot1 {
    width: 30px;
    height: 1px;
    background: #000;
    margin-bottom: 10px;
    display: inline-block;
    margin-left: 40px;
}
.myDot1b {
    width: 30px;
    height: 1px;
    background: #000;
    margin-bottom: 10px;
    display: inline-block;
}

.myDot2 {
    width: 30px;
    height: 1px;
    background: #000;
    margin-bottom: 10px;
    display: inline-block;
}
.num1 {
    font-size: 33px;
    line-height: 0;
    padding-left: 10px;
    padding-right: 10px;
}

.blockInArticle {
    margin-top: 75px;
    margin-left: 15px;
}

.titreArticle {
    margin-top: 20px;
}
.titreArticle2 {
    margin-top: 20px;
    text-align: right;
}
.txtArt {
    margin-top: 15px;
    text-align: justify;
}
.fleche {
    display: flex;
}
.fleche2 {
    display: flex;
    flex-direction: row-reverse;
}

.decoFleche:hover {
    background-color: pink;
    color: white;
    cursor: pointer;
}

.decoFleche {
    border-radius: 50%;
    border: 2px solid black;
}
.centreArrow {
    margin-left: 5px;
}

.addInfo {
    margin-left: 15px;
    border-bottom: 1px solid black;
}

.addInfo2 {
    margin-right: 15px;
    border-bottom: 1px solid black;
}

.addInfo:hover {
    background-color: pink;
    color: white;
    cursor: pointer;
}
.addInfo2:hover {
    background-color: pink;
    color: white;
    cursor: pointer;
}
.tMaj {
    float: left;
    text-transform: uppercase;
    color: #000;
    font-weight: 600;
    font-size: 41px;
    line-height: 10px;
}
.articleDisign {
    font-size: 20px;
    font-weight: 600;
    line-height: 50px;
}

.rowlog {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.blockArticle {
    margin-bottom: 25px;
}
/*formulaire de contact*/
#form34{
border-radius: 15px;
}
#form34:hover {
    background-color: pink;
    color: black;
    cursor: pointer;    
}
#form29{
border-radius: 15px;
}
#form29:hover {
    background-color: pink;
    color: black;
    cursor: pointer;   
}
#form32{
    border-radius: 15px;
    }
#form32:hover {
    background-color: pink;
    color: black;
    cursor: pointer;
}
#form8{
    border-radius: 15px;
    }
#form8:hover {
    background-color: pink;
    color: black;
    cursor: pointer;
}
.enjoy:hover {
    background-color: pink;
    color: black;
    cursor: pointer;
}
/* modal formulaire de contact */

.modal-content{    
    background-color:#c08fac!important;
    opacity: 0.9;
}
#modalContactForm{
    background-image: url("img/entreprise.jpg")!important;
}

#contactezNousEtpostulez{
    display: flex;
}
/*formulaire de recrutement*/

#darkModalForm{
    background-image: url("img/entreprise.jpg")!important;
}
/*******************************************/
/* login.css*/
/*******************************************/









/*******************************************/
/* caisse-css*/
/*******************************************/


@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');
@import url("https://fonts.googleapis.com/css?family=Amatic+SC&display=swap");

@font-face {
    font-family: "Booter - Zero Zero";
    src: url("Fonts/Booter - Zero Zero.woff") format("woff"),
        url("Fonts/Booter - Zero Zero.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    font-family: Raleway;
    color: #777;
}

body,
html {
    margin: 0;
    padding: 0;
    min-height: 100%;
}

.nav ul {
    margin: 0;
}

.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    padding: 0.5em;
    color: white;
    text-decoration: none;
}

.main-nav {
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
}

.main-nav li {
    padding: 0 5%;
}

.nav a:hover {
    background-color: rgba(255, 255, 255, .3);
}

.main-header {
    background-color: deeppink;
    background-image: url("Images/Header Background.jpg");
    background-blend-mode: multiply;
    background-size: cover;
    padding-bottom: 30px;
}

.band-name {
    text-align: center;
    margin: 0;
    font-size: 4em;
    font-family: "Booter - Zero Zero";
    font-weight: normal;
    color: white;
}

.band-name-large {
    font-size: 8em;
}

.content-section {
    margin: 1em;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}
.section-header {
    font-family: 'Amatic SC', cursive;
    font-weight: normal;
    color: deeppink;
    text-align: center;
    font-size: 2.5em;
}

.about-band-image {
    float: left;
    height: 200px;
    width: 200px;
    margin: 15px;
    border-radius: 50%;
}

.main-footer {
    background-color: deeppink;
    color: white;
    padding: 0.25em 0;
}

.main-footer-container {
    display: flex;
    align-items: center;
}

.main-footer-container ul {
    flex-grow: 1;
    text-align: end;
}

.footer-nav li {
    padding: 0 0.5em;
}

.footer-nav img {
    width: 30px;
    height: 30px;
}

.btn {
    text-align: center;
    vertical-align: middle;
    padding: 0.67em;
    cursor: pointer;
}

.btn-header {
    margin: 0.5em 15% 2em;
    color: white;
    border: 2px solid #2D9CDB;
    background-color: rgba(255, 255, 255, .1);
    border-radius: 0;
    font-size: 1.5em;
    font-weight: lighter;
    padding-left: 2em;
    padding-right: 2em;
}

.btn-header:hover {
    background-color: rgba(255, 255, 255, .3);
}

.btn-play {
    display: block;
    margin: 0 auto;
    color: #2D9CDB;
    font-size: 4em;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 0;
    text-align: center;
}

.btn-primary {
    color: white;
    background-color: deeppink;
    border: none;
    border-radius: 0.3em;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #2D9CDB;
}

.tour-row {
    border-bottom: 1px solid black;
    padding-bottom: 1em;
    margin-bottom: 1em;
}

.tour-row:last-child {
    border: none;
}

.tour-item {
    display: inline-block;
    padding-right: 0.5em;
}

.tour-date {
    color: #555;
    width: 11%;
    font-weight: bold;
}

.tour-city {
    width: 24%;
}

.tour-arena {
    width: 42%;
}

.tour-btn {
    max-width: 19%;
}

.shop-item {
    margin: 30px;
}

.shop-item-title {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: #333;
    margin-bottom: 15px;
}

.shop-item-image {
    height: 250px;
}

.shop-item-details {
    display: flex;
    align-items: center;
    padding: 5px;
}

.shop-item-price {
    flex-grow: 1;
    color: #333;
}

.shop-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    color: #333;
    margin-left: 0.5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: 0.3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #CC4C4C;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    color: #333;
    font-size: 1.1em;
}

.btn-purchase {
    display: block;
    margin: 40px auto 80px;
    font-size: 1.75em;
}







