* {
    font-family: 'Prata', serif;
}
h1 {
    display: flex;
    align-content: center;
}

/*****header*******/
.form-inline .form-control {
    width: 150%;
}
.navbar-light .navbar-nav .nav-link {
    color: rgb(247, 29, 145);

}
.logoFemme {
    text-align: center;
}
.dropdown-menu {

    background: rgb(224, 220, 220);
    background-color: rgb(224, 220, 220);
    border: 2px solid rgb(224, 67, 146);
}
#recherche {
    float: right;
}
canvas {
    background-image: linear-gradient(90deg, #eee, #ccc);
}
#defilant {
    width: 100%;
    height: 150px;
}

#titre {
    text-align: center;
    font-family: 'Monoton', cursive;
    font-size: 3em;
    color: deeppink;
}

.infos {
    background-color: deeppink;
    color: white;
    text-align: center;
}

.card-body p {
    color: black;
}
#panier {
    margin-left: 50px;
}
#nav {
    display: flex;
    flex-direction: right;
}

@media(min-width:480px) {
    #titre .navbar-brand .partenaires .list-unstyled1 {
        margin: 0 auto;
        font-size: 1.8em;
    }

}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    #titre .navbar-brand .partenaires .list-unstyled1 {
        margin: 0 auto;
        font-size: 2em;
    }

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #titre .navbar-brand .partenaires .list-unstyled1 {
        margin: 0 auto;
        font-size: 2.3em;
    }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #titre .navbar-brand .partenaires .list-unstyled1 {
        margin: 0 auto;
        font-size: 2em;
    }

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    #titre .navbar-brand .partenaires .list-unstyled1 {
        margin: 0 auto;
        font-size: 3.5em;
    }
}

/*Body*/

.card-body {
    background: rgb(224, 220, 220);
    color: deeppink;
}

/*************************/
.partenaires {
    display: flex;
    justify-content: space-evenly;

    margin-top: 20px;
}

.partenaires li {
    list-style-type: none;
}

.partenaires li img {

    width: 100%;
}
.list-unstyled1 {
    display: flex;
    justify-content: space-evenly;
    padding-right: 37px;
}
a:hover {
    color: deeppink;
}
.footer-copyright {
    font-size: 0.5em;
}
/*******body femme****/
.bodyFemme {
    display: flex;
    width: 100%;
    margin: 0 auto;
    border-color: white;
}
.sousTitre {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    margin: 0 auto;

    background: rgb(224, 220, 220);

}
.container1 {
    margin-top: 50px;
}

/************************/
input[type=submit],
input[type=text] {
    width: 60%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=checkbox] {
    margin-top: 16px;
}

input[type=submit] {
    background-color: rgb(76, 152, 175);
    color: white;
    border: none;
}

input[type=submit]:hover {
    opacity: 0.8;
}

.calendar:hover, .comment:hover, .e-commerce:hover{
transform: scale(1.5);
}

/* <!-- Partners Payment --> */

.blanc{
    background-color: white;
    width: 50%;
}

/*Footer map*/
.map-container {
    overflow: hidden;
    /* padding-bottom:56%; */
    /* position:relative; */

}
.map-container iframe {
    display: flex;
    margin: 20;
    height: 30%;
    width: 100%;
    position: absolute;
}
/**********/
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23FF1493' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3e%3c/svg%3e");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23FF1493' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e");
}
.carousel-indicators li {
    background-color: #FF1493;
}
/* description produit css*/

#fiche {
    width: 300px;
    border: 1px solid;
    margin: 10px 50px 0 10px;
}
.clear {
    clear: both;
}
#fiche ul li {
    display: flex;
    list-style-type: none;
    margin: 0 10px;
}
#fiche ul li img {
    width: 100px;
    height: 80px;
}
#description {
    width: 500px;
    height: 300px;
    position: relative;
    overflow: hidden;
    border: 1px solid;
}
#defilement {
    position: absolute;
    left: 100px;
    transition: 2s;

}
.zone1-active {
    position: absolute;
}

.zone2-active {
    position: absolute;
    left: 500px;
    top: 0;
}

.zone3-active {
    position: absolute;
    left: 1000px;
    top: 0;
}

.zone4-active {
    position: absolute;
    left: 1500px;
    top: 0;
}

.zone5-active {
    position: absolute;
    left: 2000px;
    top: 0;
}

#zone1:target #defilement {
    left: 0;
}

#zone2:target #defilement {
    left: -500px;
}

#zone3:target #defilement {
    left: -1000px;
}

#zone4:target #defilement {
    left: -1500px;
}

#zone5:target #defilement {
    left: -2000px;
}

#espace1 {
    height: 300px;

}
#espace2 {
    width: 600px;
    height: 500px;
}

/*Sarah css*/

/**** CONTAINER1 ****/

.container-index {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    background-color: rgb(224, 218, 224);
    height: 100%;
    text-align: center;
    font-size: 15px;
}

.item1 {
    width: 150px;
    padding: 15px;
}

.container-index img {
    width: 60px;
    height: 60px;
}

/**** CONTAINER2 ****/

.container-index2 {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    background-color: rgb(219, 202, 219);
    height: 100%;
    text-align: center;
    font-size: 15px;
}

.item2 {
    width: 150px;
    padding: 15px;
}

.container-index2 img {
    width: 60px;
    height: 60px;
}

/**** CONTAINER RESA ****/

.container-resa {
    background-color: rgb(236, 219, 236);
    padding: 15px;
}

.emailcoach {
    border-radius: 3px;
    height: 60px;
    border: 1px solid #ecf1f4;
    width: 100%;
    padding: 0 20px;
    font-size: 18px;
}
/*RESERVATIONS*/

.titreresa {
    justify-content: center;
    padding: 15px;
}


.coach img {
    width: 150px;
    display: flex;
}

.coach {
    display: flex;
    margin: 15px;
    background-color: rgb(230, 227, 227);
    border: 2px solid rgb(20, 20, 20);
    border-radius: 5px;
    justify-content: center;    
}

.presentation {
    padding: 15px;
    text-align: center;
    align-items: center;
}

.pr{
    padding: 15px;
}

.presentationprenom{
 border: solid 2px deeppink;
 padding: 4px;
}

.etvous{
    display: flex;
    margin: 15px;
    background-color:deeppink ;
    border: 2px solid rgb(20, 20, 20);
    border-radius: 5px;
    justify-content: center;  
    opacity:0.50;
    color: black;
}

.presentationprenomvous{
    padding: 4px;
}



ul li{
    text-decoration: none;
}

.sugg{
    height: 100px;
    width: 50px;
}

.bootstrap-iso .formden_header h2, .bootstrap-iso .formden_header p, .bootstrap-iso form{
    font-family: Arial, Helvetica, sans-serif; 
    color: black;
}
    
.rating {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.stars {
    display: inline-flex;
    justify-content: center;
    font-size: 3em;
}
.fa-star.gold {
	color: #ffdc0f;
}
.fa-star {
	color: gray;
	padding: 0.0625rem;
}

.etvous .stars:hover .fa-star {
    color: #ffdc0f;
}

.etvous .stars .fa-star:hover ~ .fa-star {
    color: gray;
}


.deeppink{
    color: deeppink;
}

.cont{
    max-width: 1008px;
    margin: auto;
}

.cont img{
    border: 4px solid deeppink;
}


.descr{
    padding: 15px;
    color: deeppink;
}

.total {
    display: flex;
    margin: 15px;
    border: 2px solid rgb(20, 20, 20);
    border-radius: 5px;
    justify-content: center;    
}