#titre1 {
    margin-top: 20px;
    margin-left: -25px;
}

#titre2 {
    text-align: center;
}

#titre3 {
    margin-top: 60px;
    margin-left: -25px;
    font-size: 18px;
}

#paragraphe1 {
    text-align: justify !important;
    margin-top: -50px;
}
#paragraphe2 {
    text-align: justify !important;

}
#paragraphe3 {
    text-align: justify !important;
    text-align: left;
    font-size: 12px;
}

#paragraphe4 {
    text-align: justify !important;
    text-align: left;
    font-size: 14px;
    margin-top: 90px;
    margin-right: 130;
}

.borderImage {
    margin-top: 20px;
    width: 100%;
    border: 3px solid deeppink;
    padding: 3px black;
}

.borderImage2 {
    margin-top: 20px;
    width: 100%;
    
}

#qi {
    width: 100%;
}
#qi2{
    width: 100%;
    margin-top: 20px;
}
.move1 {
    margin-top: -22px !important;
}
#qi1 {
    margin-left: -102 !important;
}
#qi2 {
    margin-top: 30px !important;
}
#pinkiblinder{
    color: deeppink;
}
